h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'William', serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 34px;
  font-weight: 600;
  color: #2f4f4f;
}
h2 {
   padding: 20px 40px; /*отступ вложенного текста от рамки */
    background: #2f4f4f; /* фон рамки */
    font-size: 27px; /* размер шрифта */
    border: 2px dashed #e3c3d4; /* размер, форма и цвет рамки */
    border-radius: 10px; /*  радиус скругления углов рамки */
    box-shadow: 0 0 0 4px #968089, 2px 1px 6px 4px rgba(150, 128, 137, 0.5); /* смещение, размер и цвет тени рамки*/
      color: #fff;
      font-family: 'Lato', sans-serif;
}
h3 {
  font-family: 'William', serif;
margin: 0;
font-size: 20px;
text-transform: uppercase;
line-height: 24px;
font-weight: normal;
  color: #000;
}

img {
  width: 700px;
  margin-bottom: 50px;
  border-radius: 25px;
  margin-top: 36px;
}

p {
  font-size: 42px;
  font-family: 'Inter', sans-serif;
  color: #000;
 

    text-align: center;

}
div {
  background-color: #808080;
  width: ;
  height: ;
  text-align: center;
  margin: auto;
}
