body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(images/river.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
   } 
h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'William', serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 34px;
  font-weight: 600;
  color: #2f4f4f;
}
h2 {
   padding: 40px 40px; /*отступ вложенного текста от рамки */
    background: #2f4f4f; /* фон рамки */
    font-size: 36px; /* размер шрифта */
    border: 2px dashed #e3c3d4; /* размер, форма и цвет рамки */
    border-radius: 10px; /*  радиус скругления углов рамки */
    box-shadow: 0 0 0 4px #968089, 2px 1px 6px 4px rgba(150, 128, 137, 0.5); /* смещение, размер и цвет тени рамки*/
      color: #fff;
      font-family: 'Lato', sans-serif;
}
h3 {
  font-family: 'William', serif;
margin: 0;
font-size: 28px;
/*text-transform: uppercase;*/
line-height: 18px;
font-weight: normal;
  color: #000;
  padding: 30px 50px;
  text-align: center;
}
h4 {
   background: linear-gradient(135deg, #f4e3f0 50%, #e2debe 50%);
    color: #49152C;
    padding: 30px 50px;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
}

h5 {
  background-color: #808080;
    border-left: 30px solid #ff0000;
    color: #49152c;
    padding: 30px 50px;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
  text-align: center;
}

img {
  width: 700px;
  margin-bottom: 25px;
  border-radius: 25px;
  margin-top: 18px;
}

p {
  font-size: 42px;
  font-family: 'Inter', sans-serif;
  color: #000;
  padding: 30px 50px;
 

    text-align: center;

}
div {
  background-color: #d2b48c;
  width: ;
  height: ;
  text-align: center;
  margin: auto;
}
