h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'William', serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 34px;
  font-weight: 600;
  color: #2f4f4f;
}
h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  margin-top: 48;
  margin-bottom: 24px;
  color: #000;
}
h3 {
  font-family: 'William', serif;
margin: 0;
font-size: 20px;
text-transform: uppercase;
line-height: 24px;
font-weight: normal;
  color: #000;
}

img {
  width: 700px;
  margin-bottom: 50px;
  border-radius: 25px;
  margin-top: 36px;
}

p {
  font-size: 42px;
  font-family: 'Inter', sans-serif;
  color: #000;
 

    text-align: center;

}
div {
  background-color: #ffdab9;
  width: ;
  height: ;
  text-align: center;
  margin: auto;
}
